## Exploratory Data Analysis with SQL

Connecting to the DB2 database

In [1]:
%load_ext sql
%sql ibm_db_sa://tgn41838:12P7JPGci7HRJiRd@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB?security=SSL

'Connected: tgn41838@BLUDB'

In [2]:
%sql SELECT COUNT(*) FROM SPACEXDATASET

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(101,)]

Names of the unique launch sites

In [20]:
%sql select Distinct(LAUNCH_SITE) from SPACEXDATASET

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

Displaying 5 records where launch sites begin with 'CCA'

In [4]:
%sql select * from SPACEXDATASET where LAUNCH_SITE LIKE ('CCA%') limit 5

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

Total payload mass carried by boosters launched by NASA (CRS)

In [5]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXDATASET where CUSTOMER like ('%NASA (CRS)%')

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(48213,)]

Average payload mass carried by booster version F9 v1.1

In [6]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXDATASET where BOOSTER_VERSION like ('%F9 v1.1%')

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(2534,)]

Date the first successful ground pad landing was achieved

In [7]:
%sql select min(DATE) from SPACEXDATASET where LANDING__OUTCOME like ('%Success (ground pad)%')

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

Booster versions that had successful drone ship landings and have a payload mass between 4000 and 6000

In [8]:
%sql select BOOSTER_VERSION from SPACEXDATASET where LANDING__OUTCOME like ('%Success (drone ship)%') and (PAYLOAD_MASS__KG_ between 4000 and 6000)

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

Total numbers of successful and unsuccessful missions

In [9]:
%sql select MISSION_OUTCOME, count(*) as total from SPACEXDATASET group by MISSION_OUTCOME

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

Booster versions that carried the maximum payload mass

In [10]:
%sql select BOOSTER_VERSION from spacexdataset where PAYLOAD_MASS__KG_=(select max(PAYLOAD_MASS__KG_) from spacexdataset)

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

Months, mission outcome, landing outcome, booster version, and launch site for failed drone ship landings in the year 2015

In [14]:
%sql SELECT MISSION_OUTCOME,LANDING__OUTCOME, BOOSTER_VERSION,LAUNCH_SITE,Extract(MONTH from DATE) as month FROM SPACEXDATASET where EXTRACT(YEAR FROM DATE)='2015' and landing__outcome like '%Failure%'

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('Success', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40', 1),
 ('Success', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40', 4)]

Descending order of successful landing outcomes between 04-06-2010 and 20-03-2017

In [19]:
%sql select * from SPACEXDATASET where landing__outcome like ('%Success%') and (DATE between '2010-06-04' and '2017-03-20') order by date desc

 * ibm_db_sa://tgn41838:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(datetime.date(2017, 2, 19), datetime.time(14, 39), 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 (datetime.date(2017, 1, 14), datetime.time(17, 54), 'F9 FT B1029.1', 'VAFB SLC-4E', 'Iridium NEXT 1', 9600, 'Polar LEO', 'Iridium Communications', 'Success', 'Success (drone ship)'),
 (datetime.date(2016, 8, 14), datetime.time(5, 26), 'F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 (datetime.date(2016, 7, 18), datetime.time(4, 45), 'F9 FT B1025.1', 'CCAFS LC-40', 'SpaceX CRS-9', 2257, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 (datetime.date(2016, 5, 27), datetime.time(21, 39), 'F9 FT B1023.1', 'CCAFS LC-40', 'Thaicom 8', 3100, 'GTO', 'Thaicom', 'Success', 'Success (drone ship)'),
 (datetime.date(2016, 5, 6), datetime.time(5, 21), 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 (datetime.date(2016, 4, 8), datetime.time(20, 43), 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)'),
 (datetime.date(2015, 12, 22), datetime.time(1, 29), 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]